.home-page {
  .masonry-with-columns {
    columns: 4 250px;
    column-gap: 1.2rem;
  }

  .project-card-enter {
    opacity: 0;
  }
  .project-card-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .project-card-exit {
    opacity: 1;
  }
  .project-card-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }
}
