@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter font-light;
    @apply dark:text-white;
    @apply bg-gray-100 dark:bg-gray-800;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-titillium font-normal;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl mb-4 font-semibold tracking-wider;
  }
}

@layer components {
  .morphic-btn {
    @apply flex items-center justify-center cursor-pointer;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 3px 3px 6px #d9d9d9, -3px -3px 6px #ffffff;

    &:active {
      box-shadow: inset 3px 3px 6px #d9d9d9, inset -3px -3px 6px #ffffff;
    }
  }

  .dark .morphic-btn {
    @apply bg-none shadow-none bg-gray-900 text-white;

    &:active {
      @apply bg-none;
    }
  }
}

@layer utilities {
  .morphic-shadow {
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 3px 3px 6px #d9d9d9, -3px -3px 6px #ffffff;
  }

  .dark .morphic-shadow {
    @apply bg-none shadow-none bg-gray-900 text-white;
  }

  .morphic-shadow-inset {
    @apply bg-gray-50;
    box-shadow: inset 3px 3px 6px #d9d9d9, inset -3px -3px 6px #ffffff;
  }
}

::-webkit-scrollbar-track {
  @apply bg-gray-200 dark:bg-gray-700;
}

::-webkit-scrollbar {
  width: 10px;
  @apply bg-gray-400 dark:bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-gray-900;
}
